// Raiding Page Styles
.raiding {
  padding: 20px;
  margin: 0;
  @extend .blue-grey, .darken-3;
  color: #fff;


  .pin-container {
    @media only screen and (min-width: 601px) {
      // Class for when element is pinned
      &.pinned {
        position: fixed !important;
        top: 64px !important;
      }
    }

    @media only screen and (max-width: 600px) {
      // Class for when element is pinned
      &.pinned {
        display: none;
      }
    }
  }

  .int-side-nav {

    li {
      padding-left: 1em;
      line-height: 1.5em;
      border-left: 2px solid transparent;
      font-size: 1.1em;
      transition: all 0.3s ease;

      a {
        color: #00bcd4; //cyan
        &:hover {
          color: #80deea; // cyan lighten-3
          transition: all 0.3s ease;
        }
      }
      &.active {
        border-left: 2px solid #ff9800; //orange
        transition: all 0.3s ease;
      }
      &:hover {
        border-left: 2px solid #ffb74d; //orange lighten-2
        transition: all 0.3s ease;
      }
      &:nth-child(3), &:nth-child(4) {
        margin-top: 1em;
        &:hover {
          cursor: default;
          border-left: 2px solid transparent; //orange lighten-2
          transition: all 0.3s ease;
        }
      }
    }
  }
  .tabs {
    margin: 2em 0 2em 0;
  }

  .expectations {
    ul {
      li {
        i {
          font-size: 1.2em;
          vertical-align: text-top;
        }
      }
    }
  }
}

@mixin class_crests($imageUrl:'') {
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0,0,0,0.7) ,rgba(0, 0, 0, 0.5)), url($imageUrl) no-repeat center center;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0,0,0,0.7) ,rgba(0, 0, 0, 0.5)), url($imageUrl) no-repeat center center;
  background: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0,0,0,0.7) ,rgba(0, 0, 0, 0.5)), url($imageUrl) no-repeat center center;
  background-size: contain;
}

.roster-tab,
.loot-tab,
.progress-tab {
  padding-top: 50px;
  h4, h5 {
    padding-left: 10px;
  }
  h6 {
    ~p {
      font-size: .8em;
    }
  }
  .name {
    font-size: 1.2em;
    padding-bottom: 10px;
  }

}

// Roster Styles
.roster-tab {
  .card-content {
    img, p {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    img {
      border: 2px solid #000;
      padding: 0;
    }
  }
  .epgp-count {
    padding-top: 10px;
  }
  .card-content {

    &.deathknight {
      @include class_crests('https://api.nobreaksguild.com/cdn/images/classes/crests/deathknight.png');
    }
    &.demonhunter {
      @include class_crests('https://api.nobreaksguild.com/cdn/images/classes/crests/demonhunter.png');
    }
    &.druid {
      @include class_crests('https://api.nobreaksguild.com/cdn/images/classes/crests/druid.png');
    }
    &.hunter {
      @include class_crests('https://api.nobreaksguild.com/cdn/images/classes/crests/hunter.png');
    }
    &.mage {
      @include class_crests('https://api.nobreaksguild.com/cdn/images/classes/crests/mage.png');
    }
    &.monk {
      @include class_crests('https://api.nobreaksguild.com/cdn/images/classes/crests/monk.png');
    }
    &.paladin {
      @include class_crests('https://api.nobreaksguild.com/cdn/images/classes/crests/paladin.png');
    }
    &.priest {
      @include class_crests('https://api.nobreaksguild.com/cdn/images/classes/crests/priest.png');
    }
    &.rogue {
      @include class_crests('https://api.nobreaksguild.com/cdn/images/classes/crests/rogue.png');
    }
    &.shaman {
      @include class_crests('https://api.nobreaksguild.com/cdn/images/classes/crests/shaman.png');
    }
    &.warlock {
      @include class_crests('https://api.nobreaksguild.com/cdn/images/classes/crests/warlock.png');
    }
    &.warrior {
      @include class_crests('https://api.nobreaksguild.com/cdn/images/classes/crests/warrior.png');
    }
  }
}

.loot-tab {
  padding-top: 0;
  .tab-header {
    text-align: center;

    h4 {
      display: inline-block;
    }

    .prev {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }

    .tab-header-controls {
      text-align: center;
      width: 250px;

      .tab-header-control-nav {
        width: 48px;
        display: inline-block;
      }
    }
  }

  .card {

    img {
      margin: 0 auto;
      display: block;
    }
  }
}

// progress tab
.progress-tab {

  .card {
    position: relative;

    .name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    img {
      width: 100%;
    }

    .killed {
      position: absolute;
      bottom: 10%;
      top: 22%;
      left: 10%;
      right: 10%;
    }

    .card-content {
      @include class_crests()
    }
  }
}
