<div class="card blue-grey darken-1">
  <div class="card-content">
    <div class="card-title"><h4>Raiding</h4></div>
    <h5>Schedule</h5>
    <p>
      Weekday Team: Tuesday, Wednesday, and Thursday from 7-10PM EST
      <br>
      Weekend Team: Friday, Saturday, and Sunday from 7-10PM EST
    </p>
    <h5>Required Addons</h5>
    <p>We require a few addons to make the raiding experience more efficient. They are mandatory.</p>
    <br>
    <a href="https://mods.curse.com/addons/wow/deadly-boss-mods" target="_blank" class="waves-effect waves-light btn cyan">DBM</a>
    <a href="https://mods.curse.com/addons/wow/exorsus-raid-tools" target="_blank" class="waves-effect waves-light btn cyan">Exorsus</a>
    <a href="https://mods.curse.com/addons/wow/epgp_lootmaster" target="_blank" class="waves-effect waves-light btn cyan">EPGP Lootmaster</a>
    <br>
    <h5>Communication</h5>
    <p>We use Mumble. You must have a working headset and microphone to raid. Ask a guildie for the login info.</p>
    <br>
    <a href="http://www.mumble.com/mumble-download.php" target="_blank" class="waves-effect waves-light btn cyan">Mumble</a>
  </div>
</div>
<div class="card blue-grey darken-1">
  <div class="card-content">
    <div class="card-title"><h4>How Loot Works</h4></div>
    <h5>EPGP</h5>
    <p>
      EPGP is a ratio of Effort Points (EP) and Gear Points (GP).
      Effort points are awarded for a fixed amount for showing up on time, boss kills, and guild contests.
      They may also be taken away for being tardy without notice, absence without notice, rage quitting, etc.
      Gear Points is the score given for your equiped and not-equiped gear.
    </p>
    <br>
    <h5>The Ratio</h5>
    <p>
      EPGP is not DKP. You won't be bidding on items. If you roll on an item you want,
      the lootmaster will be able to see all the rolls for said item and compare EPGP ratios.
      The roll with highest effort points vs lowest gear points wins the roll.
      This system ensures fair loot distribution across the raid group to maintain even gear scores.
      The lootmaster does have final say in who wins the item.
    </p>
    <br>
  </div>
</div>
<div class="card blue-grey darken-1">
  <div class="card-content">
    <div class="card-title"><h4>What We Expect of our Raiders</h4></div>
    <h5>Attendance</h5>
    <p>
      Please post in the forums or on the facebook page if you will be late
      or cannot make your raid time. It gives us time to find a replacement
      for you and saves you from losing EP! We understand life happens sometimes.
    </p>
    <h5>Attitude</h5>
    <p>
      Although we find rage-quitting highly entertaining, we prefer it doesn't happen. We're here to have fun!
    </p>
    <ul>
      <li>If something happens and you're not having fun, tell us.</li>
      <li>If you need a minute to fix something or take care of real life issues, step out of the raid and come back when you're ready.</li>
      <li>We know progression is rough. Keep your cool.</li>
    </ul>
    <h5>Be Prepared</h5>
    <p>
      lorem ipsum
    </p>
  </div>
</div>
