<div class="progress-tab">
  <div class="col s12">
    <div class="logs card blue-grey darken-1">
      <div class="card-content">
        <div class="card-title"><h4>Logs</h4></div>
        <a href="https://www.warcraftlogs.com/guilds/101146" target="_blank" class="waves-effect waves-light btn cyan">Warcraft Logs</a>
      </div>
    </div>
  </div>
  {{#each model.raids as |raid|}}
  <div class="raid col s12">
    <div class="col s12">
      <h5>{{raid.name}}</h5>
    </div>
    <ul class="row">
      {{#each raid.bosses as |boss|}}
      <li class="col s12 m6 l3 {{if boss.heroicKills 'killed'}}">
        <div class="card grey darken-4">
          <div class="card-content row">
            <div class="content-wrap">
              <h6 class="name col s12 white-text">{{boss.name}}</h6>
              {{#if boss.heroicKills}}
                <div class="killed">
                  <img class="dead" src="https://api.nobreaksguild.com/cdn/images/bosses/dead.png" />
                </div>
              {{/if}}
              <img src={{boss.thumbnail}} />
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  {{/each}}
</div>
