{{md-parallax image="https://api.nobreaksguild.com/cdn/images/join-us.jpg"}}
<div class="section join blue-grey darken-3 white-text">
  <div class="row container">
    <h3>Join No Breaks</h3>
    <p>
      No Breaks is a pretty unique guild. We value personality as much as skill.
      The majority of our members are adults, but we make a few exceptions for 16yo+. If you are
      interested in joining the raiding team, there is a two week trial period
      to see how everyone gets along. If all goes well, you'll be accepted to
      join the raid team! (We love our casual players, too!)
    </p>
    <p>The officers are Konnovar, Nebet, Skarelin, Dêathunknown, Alasa, Tumblrderp, Vxar, and Shadryn.</p>
  </div>
  <br>
  <br>
  <div class="row container">
    <p>Reach out to one of the officers for information on how to join, or hop into our <a href="https://discord.gg/eSeHHRS">Discord</a>!</p>
  </div>
  <!--<div class="row container">
    <h3>Current Mythic Recruitment Needs</h3>
    <table>
      <tbody>
        <tr>
          <td class="weekday">Tanks: None</td>
        </tr>
        <tr>
          <td class="weekday">Healers: Paladin, Shaman, Druid</td>
        </tr>
        <tr>
          <td class="weekday">Melee DPS: Warrior</td>
        </tr>
        <tr>
          <td class="weekday">Ranged DPS: Hunters</td>
        </tr>
      </tbody>
    </table>
  </div>-->
  <br>
  <br>
</div>
{{outlet}}
